/* ### CUSTOM PROPERTIES ### */

:root {
  /* # PRIMARY # */
  --red-400: hsl(0, 100%, 68%);
  /* # NEUTRAL # */
  --blue-950: hsl(230, 29%, 20%);
  --blue-100: hsl(207, 33%, 95%);
  /* # TYPOGRAPHY # */
  /* headings, cta, nav */
  --ff-barlow-condensed: "Barlow Condensed", sans-serif;
  /* body */
  --ff-barlow: "Barlow", sans-serif;
  --fw-400: 400;
  --fw-700: 700;
}

/* ### CSS RESET ### */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img,
picture,
svg {
  max-width: 100%;
  display: block;
}

nav ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

/* ### UTILITY CLASSES ### */

.text-light {
  color: #85848b;
  text-transform: uppercase;
}

.text-spaced {
  letter-spacing: 3px;
}

.tag {
  background-color: var(--blue-950);
  color: var(--blue-100);
  padding-inline: 0.4rem;
  border-radius: 200px;
  text-transform: uppercase;
}

.hide {
  display: none;
}

.container {
  width: 85%;
  margin-inline: auto;
}

/* ### GENERAL STYLING ### */

body {
  font-family: var(--ff-barlow);
  font-weight: var(--fw-400);
}

h1,
nav,
.cta-links {
  font-family: var(--ff-barlow-condensed);
}

h1,
nav {
  font-weight: var(--fw-700);
  color: var(--blue-950);
}

.subtitle {
  color: #7a7b7f;
}

/* ### HEADER ### */

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block: 2.5rem;
}

.desktop-nav {
  display: none;
}

dialog {
  top: 100px;
  padding: 1.3rem;
  width: 85%;
  margin-inline: auto;
  border: none;
  box-shadow: 0px 10px 15px #6d6d6d9f;
}

dialog ul {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  text-align: center;
  gap: 1.5rem;
  font-size: 1.235rem;
  text-transform: uppercase;
}

dialog .separator {
  border-top: 1px solid #e4e4e4;
  padding-top: 1.2rem;
  width: 100%;
}
